.newKind-speech {
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    margin: auto;
    margin-bottom: 2vw;
  }

  &__paragraph {
    margin: auto;
    margin-bottom: 2vw;
  }

  &__control {
    display: flex;
    flex-direction: column;
    position: relative;

    &-text {
      height: 3vw;
      width: 70vw;
      margin: auto;
      box-sizing: border-box;
      margin-bottom: 2vw;

      &_voice {
        width: 70vw!important;
        margin: auto;
        display: flex;
        flex-direction: revert;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;

        &_label {
          box-sizing: border-box;
          padding: 1vw;
          width: 6vw;
        }

        &_input {
          width: 60vw;
          padding: 1vw;
          box-sizing: border-box;
        }

        &_rate-value {
          box-sizing: border-box;
          padding: 1vw;
          margin-left: 2vw;
          margin-right: 2vw;
        }

        &_clearfix {
          width: 2vw;
          height: 2vw;
          background: aquamarine;
          box-sizing: border-box;
          padding: 1vw;
          border-radius: 50%;
        }
      }

      &_pitch {
        width: 70vw!important;
        margin: auto;
        display: flex;
        flex-direction: revert;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;

        &_label {
          box-sizing: border-box;
          padding: 1vw;
          width: 6vw;
        }

        &_input {
          width: 60vw;
          padding: 1vw;
          box-sizing: border-box;
        }

        &_pitch-value {
          box-sizing: border-box;
          padding: 1vw;
          margin-left: 2vw;
          margin-right: 2vw;
        }

        &_clearfix {
          width: 2vw;
          height: 2vw;
          background: aquamarine;
          box-sizing: border-box;
          padding: 1vw;
          border-radius: 50%;
        }
      }
    }

    &-voice {
      height: 3vw;
      width: 40vw;
      margin: auto;
      box-sizing: border-box;
      margin-bottom: 2vw;
      cursor: pointer;
    }

    &-buttons {
      margin: auto;

      &_play {
        box-sizing: border-box;
        padding: 1vw;
        cursor: pointer;
      }
    }
  }
}