body {
  font-family: sans-serif;
}
a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 0.5vw dashed #ccc;
  border-radius: 3vw;
  padding: 3vw;
  width: auto;

  #progress-bar{
    width: 100%;
  }
}
#drop-area.highlight {
  border-color: purple;



}
p {
  margin: 0;

}
.my-form {
  display: flex;
  flex-direction: column;
  p{
    font-size: 3vw;
    text-align: center;
    margin: 0;
  }
  div{
    align-self: center;
    margin: 2vw;
  }
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 12vw;
  vertical-align: middle;
  margin: auto;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 3vw;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}
